@font-face {
    font-family: Jura;
    src: url(font/Jura-Regular.ttf);
}

* {
    font-family: "Jura-Regular", sans-serif;
    box-sizing: border-box;
}

#risksTable {
    padding: 50px 0;
    margin: 50px 0;
}

#autoFilling {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#autoFilling img {
    width: 300px;
    height: 200px;
}

h4 {
    margin-left: 20px;
}

h1 {
    text-align: center;
    margin-top: 5%;
    padding-top: 15px;
}

#tdImportantToResult {
    background-color: aqua;
}

table {
    cursor: all-scroll;
    position: relative;
    background: antiquewhite;
    font-size: 18px;
    transition: 0.2s;
    border: 2px solid;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-collapse: collapse;
    margin-bottom: 5px;
}

td {
    background: white;
    min-width: 50px;
    height: 42px;
    border: 1px solid black;
    text-align: center;
    padding: 0;
}

#content {
    margin: auto;
    width: 80%;
    padding-bottom: 2%;
    background-color: #e3e3e3f0;
}

.lastTd {
    width: 42px;
}

#tableAssessment tr:hover {
    background: #ddd;
}

.close {
    padding: 10px 20px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.formInput {
    text-align: center;
    width: 95%;
    padding: 20px;
    margin: 20px;
}

#idForBase {
    width: 100%;
    height: 50px;
}

#idForBase input {
    width: 37.5%;
    text-align: center;
}

#idForEvent {
    width: 100%;
    height: 50px;
}

.inputText {
    margin: 0;
    border-color: black;
    border-radius: 3px;
    width: 25%;
    height: 76%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: white;
}

#idForEvent .inputText,
#idForEvent .addBtn,
#tableMinimization td {
    width: 25%;
}

.addBtn {
    padding: 8px 16px;
    width: 25%;
    background-color: #4c75a3;
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    clear: right;
    height: 76%;
}

.addBtn:hover {
    background-color: #3e5c86;
    cursor: pointer;
}

.setHeight {
    height: 119px;
}

#divEventTable {
    margin-top: 120px;
}

#forBase,
#forRent {
    width: 100%;
    float: left;
}

.displayNone,
.subMatrixBlock3::-webkit-scrollbar,
.subMatrixBlock::-webkit-scrollbar,
.subMatrixBlock2::-webkit-scrollbar {
    display: none;
}

.headerOfTable {
    background-color: #4c75a3 !important;
    color: #fff;
}

#forBase p,
#forRent p {
    font-size: 25px;
    display: block;
    float: left;
    width: 50%;
}

#divSaveStrategyRisk {
    text-align: center;
    margin: auto;
}

#divSaveStrategyRisk input,
#divSaveEvent input,
#inputCalculate input {
    margin-top: 50px;
    background-color: #4C75A3;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.addDown {
    margin: 10px 41%;
    width: 18%;
}

.rightStrategy {
    background-color: aqua !important;
}

#saveEvent {
    margin-right: 30%;
    margin-left: 30%;
}

#matrixStrategiesCharacteristics,
#matrixEventsCharacteristics,
#MatrixAlternativeLosses,
#calculationEconomicEffectsAfterRealizationStrategy,
#results,
#calculationConditionalBenefits,
#calculationEstimatedCharacteristics {
    margin-right: 5%;
    margin-left: 5%;
}

.subSubMatrix {
    border: 0;
    margin: -1px;
    width: 101.5%;
    table-layout: fixed;
    border-collapse: collapse;
}

.subSubMatrix td {
    border: 1px solid black;
    padding: 5px;
}

.subMatrixBlock3,
.subMatrixBlock {
    scrollbar-width: none;
    height: 100%;
    top: 0;
    white-space: nowrap;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.subMatrixBlock {
    width: 100%;
}

.subMatrixBlock2 {
    scrollbar-width: none;
    height: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

#tableStrategiesCharacteristics td {
    height: 66px;
}

.fullWidth {
    width: 100%;
    border-top: 2px solid black;
}

.param {
    width:35%;
    height: 84px;
}

#tableResults tr td:first-child {
    width: 10%;
}

.firstSubMatrix tr td:last-child {
    height: 43px;
}

.firstSubMatrix {
    border: 0;
    margin: -2px;
    table-layout: fixed;
    height: 100%;
}

.firstSubMatrix td {
    min-width: 75px;
    width:auto;
    height: auto;
    white-space:nowrap;
}

#tableEventsCharacteristics td {
    vertical-align: middle;
    text-align: center;
}

.subMatrixBlock3 {
    vertical-align: top;
}

#tableStrategiesCharacteristics .subSubMatrix tr:nth-child(2n) td,
.subSubMatrix tr:nth-child(2n + 1) td,
tr:nth-child(2n) td,
.firstSubMatrix tr:nth-child(2n + 1) td,
.SubMatrix tr:nth-child(2n + 1) td {
    background-color: #c7dff3;
}

#tableStrategiesCharacteristics .subSubMatrix tr:nth-child(2n + 1) td,
.subSubMatrix tr:nth-child(2n) td,
.firstSubMatrix tr:nth-child(2n) td,
.SubMatrix tr:nth-child(2n) td {
    background-color: #fff;
}

.SubMatrix {
    border: 0;
    margin: -1px;
    width: 101.5%;
}
