* {
    @font-face {
        font-family: Jura; /* Ãâ€œÃÂ°Ã‘â‚¬ÃÂ½ÃÂ¸Ã‘â€šÃ‘Æ’Ã‘â‚¬ÃÂ° Ã‘Ë†Ã‘â‚¬ÃÂ¸Ã‘â€žÃ‘â€šÃÂ° */
        src: url(font/Jura-Regular.ttf); /* ÃÅ¸Ã‘Æ’Ã‘â€šÃ‘Å’ ÃÂº Ã‘â€žÃÂ°ÃÂ¹ÃÂ»Ã‘Æ’ Ã‘ÂÃÂ¾ Ã‘Ë†Ã‘â‚¬ÃÂ¸Ã‘â€žÃ‘â€šÃÂ¾ÃÂ¼ */
    }
    font-family: "Jura-Regular",sans-serif;
    box-sizing: border-box;
    /* background-color: #e3e3e3f0; */
}

.risksTable {
    padding: 50px 0;
    margin: 50px 0;
}

h4{
    margin-left: 20px;
}
h1 {
    text-align: center;
    margin-top: 5%;
    padding-top: 15px;
}

table {
    cursor: pointer;
    position: relative;
    background: antiquewhite;
    font-size: 18px;
    transition: 0.2s;
    border: 2px solid;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-collapse: collapse;
    margin-bottom: 5px;
}

td {
    background: white;
    text-align: left;
    width: 35%;
    height: 41px;
    border: 1px solid black;
    text-align: center;
}

.content{
    margin:auto;
    width: 80%;
    padding-bottom: 2%;
    background-color: #e3e3e3f0;
}

.lastTd {
    width: 42px;
}

#tableAssessment tr:hover {
    background: #ddd;
}

.close {
    padding: 10.25px 16px 10.25px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.formInput {
    text-align: center;
    width: 95%;
    padding: 20px;
    margin: 20px;
}

#idForBase {
    width: 100%;
    height: 50px;
}

#idForBase input {
    width: 37.5%;
    text-align: center;
}

#idForEvent {
    width: 100%;
    height: 50px;
}

.inputText {
    margin: 0;
    border-color: black;
    /* border: none; */
    border-radius: 3px;
    width: 25%;
    height: 76%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: white;
}

#tableMinimization td{
    width: 25% ;
}

#idForEvent .inputText, #idForEvent .addBtn {
    width: 25%;
}

.addBtn {
    padding: 8px 16px;
    width: 25%;
    background-color: #4c75a3;
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
    border:none;
    text-decoration: none;
    text-transform: uppercase;
    clear: right;
    height: 76%;
}

.addBtn:hover {
    background-color: #3e5c86;
    cursor:pointer;
}

.regulirovochka {
    height: 120px
}

#divEventTable {
    margin-top: 120px;
}

#forBase, #forRent {
    width: 100%;
    float: left;
}

.displayNone {
    display: none;
}

#forBase p, #forRent p {
    font-size: 25px;
    display: block;
    float: left;
    width: 50%;
}

#divSaveStrategyRisk {
    text-align: center;
    margin: auto;
}

#divSaveStrategyRisk input , #divSaveEvent input{
    margin-top: 50px;
    background-color: #4C75A3;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#inputCalculate input{
    margin-top: 50px;
    background-color: #4C75A3;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.addDown {
    margin: 10px 41%;
    width: 18%;
}

#saveEvent {
    margin-right: 30%;
    margin-left: 30%;
    /* width: 45%; */
}

#divSaveEvent hover{
    background-color: #3e5c86;
    cursor:pointer;
}

.bezdar{
    border:none;
}

#matrixAlternativeLosses{

    margin-right:5%;
    margin-left:5%;

}
#calculationParametersStrategicRiskManagementOngoingProject{
    margin-right:5%;
    margin-left:5%;
}

#calculationLostProfitsBasicCase{
    margin-right:5%;
    margin-left:5%;
}

.subSubMatrix{
    border: 0;
    margin: -2px;
    width: 101.5%;

}

#CalculationEconomicEffectsAfterRealizationStrategy{
    margin-right:5%;
    margin-left:5%;
}

#results {
    margin-right:5%;
    margin-left:5%;
}

.subMatrixBlock{
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    /* left: 0; */
    /* position: absolute; */
    /* width: 30%; */
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 1px;
}

.subMatrixBlock2{
    height: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -4px;
}

#tableCalculationParametersStrategicRiskManagementOngoingProject td {
    height: 66px;
}

.perebivka {
    height: 71px !important;
}

.param {
    height: 90px;
}

.subMatrix{
    border: 0;
    height:100%;
}

#tableBodyAltLoss tr td:first-child{
    width: 10%;
}
#tableCalculationParametersStrategicRiskManagementOngoingProject tr td:first-child{
        width: 10%;

}
#tableCalculationLostProfitsBasicCase tr td:first-child{
    width: 10%;
}

#tableCalculationConditionalBenefits tr td:first-child{
    width: 10%;
}

#tableCalculationEconomicEffectsAfterRealizationStrategy tr td:first-child{
    width: 10%;
}

#tableResults tr td:first-child{
    width: 10%;
}

#calculationConditionalBenefits {
    margin-right: 5%;
    margin-left: 5%;
}